services:
  db:
    image: postgres:17
    container_name: db
    restart: always
    env_file:
      - .env
    ports:
      - "5435:5432"
    volumes:
      - hopbarley_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: hopbarley_web
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "./entrypoint.sh"
    ports:
      - "8000:8000"
    volumes:
      - .:/app:cached
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles

volumes:
  hopbarley_data:
